@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Outfit", sans-serif;
}
/* insstall postcss language support extension to remove error */
@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  .centered-axis-xy {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .centered-axis-y {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .grid {
    display: grid;
  }
}
